@model IEnumerable<DataLayer.ViewModels.OrderReportViewModel>

@{
    ViewBag.Title = "محصولات فروخته شده";
}

<h2>محصولات فروخته شده</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            <p>تصویر</p>
        </th>
        <th>
            <p>عنوان</p>
        </th>
        <th>
            <p>تعداد سفارشات</p>
        </th>
        <th>
            <p>دوره</p>
        </th>
        <th>
            <p>ارسال گروهی</p>
        </th>
        <th>
            <p>ارسال تکی</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="~/Images/ProductImages/Thumb/@item.ImageName" />
            </td>
            <td>
                @item.Title
            </td>
            <td>
                @item.Count
            </td>
            <td>
                @item.PeriodName
            </td>
            <td>
                <a href="#" onclick="SendVendorGroup(@item.OrderID)" class="btn btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-check-fill" viewBox="0 0 16 16">
                        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471z" />
                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686" />
                    </svg>
                </a>

            </td>
            <td>
                <a href="#" onclick="SendVendorSingle(@item.OrderID)" class="btn btn-sm">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-check" viewBox="0 0 16 16">
                        <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372zm-2.54 1.183L5.93 9.363 1.591 6.602z" />
                        <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686" />
                    </svg>
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Orders", new { id = item.OrderID})" class="btn btn-sm"><i class="glyphicon glyphicon-info-sign"></i></a>
            </td>
        </tr>
    }

</table>


<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MyModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="modalx" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="MyModalBody">
                ...
            </div>
            @*            <div class="modal-footer">
                    <button type="button" class="btn btn-success">ارسال</button>
                </div>*@
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function SendVendorGroup(orderId) {
            $.ajax({
                url: "/Admin/Vendor/ShowVendorGroup",
                type: "GET",
                data: { orderid: orderId }
            }).done(function (result) {

                $("#MyModal").modal("show");
                $("#MyModalLabel").html("انتخاب گروه تامین کنندگان");
                $("#MyModalBody").html(result);
                $(".tr_Option_Vendor").hide();
            });
        };

        function SendVendorSingle(orderId) {
            $.ajax({
                url: "/Admin/Vendor/ShowVendor",
                type: "GET",
                data: { orderid: orderId }
            }).done(function (result) {

                $("#MyModal").modal("show");
                $("#MyModalLabel").html("انتخاب تامین کننده");
                $("#MyModalBody").html(result);
                $(".tr_Option_Vendor").hide();
            });
        }
    </script>
}
