@model IEnumerable<DataLayer.User>

@{
    ViewBag.Title = "مدیریت کاربران";
}

<h2>فهرست کاربران جدید</h2>

<a class="btn btn-primary" href="@Url.Action("Create", "User")" style="margin-bottom:10px">افزودن کاربر</a>

<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role.RoleTitle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @item.RegisterDate.ToShamsi()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.RoleTitle)
        </td>
        <td>
            <a href="@Url.Action("Edit", "User", new { id = item.UserID})" class="btn btn-sm"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="@Url.Action("Details", "User", new { id = item.UserID})" class="btn btn-sm"><i class="glyphicon glyphicon-info-sign"></i></a>
            <a href="@Url.Action("Delete", "User", new { id = item.UserID})" class="btn btn-sm"><i class="glyphicon glyphicon-trash"></i></a>
        </td>
    </tr>
}

</table>
