@model IEnumerable<DataLayer.Product_Brand>

@{
    ViewBag.Title = "فهرست برند ها";
}

<h2>فهرست برند ها</h2>

<a onclick="CreateBrand()" class="btn btn-primary">افزودن برند جدید</a>
<table class="table table-bordered" style="margin-top:10px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a onclick="EditBrand(@item.BrandID)" class="btn btn-sm"><i class="glyphicon glyphicon-edit"></i></a>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>


<div class="modal fade" id="MyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="MyModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span id="modalx" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="MyModalBody">
                ...
            </div>
            @*            <div class="modal-footer">
                    <button type="button" class="btn btn-success">ثبت</button>
                </div>*@
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function CreateBrand() {
            $.ajax({
                url: "/Admin/Product/CreateBrand",
                type: "Get",
                data: {}
            }).done(function (result) {
                $("#MyModal").modal("show");
                $("#MyModalLabel").html("افزودن برند جدید");
                $("#MyModalBody").html(result);
            });
        };

        function EditBrand(brandid) {
            $.ajax({
                url: "/Admin/Product/EditBrand",
                type: "Get",
                data: { id: brandid }
            }).done(function (res) {
                $("#MyModal").modal("show");
                $("#MyModalLabel").html("ویرایش برند");
                $("#MyModalBody").html(res);
            });
        }

        $("#modalx").click(function () {
            $("#MyModal").modal("toggle");
        });
    </script>
}
